@import "../../vars.scss";

.chat-area {
  position: relative;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.chat-form {
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}